body{
    background-color: #222;
    color: #FFFFFF;
    font-family: 'Arvo', serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 5rem;
    color: #FFB02E;
    text-shadow: 3px 0 #CA0B4A;
    margin-bottom: 100px;
  }
  
.set{
    margin: 10% auto;
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
  
.drum{
    border: 10px solid #D3D3D3;
    border-radius: 50%;
    background-color: #FFE5D9;
    box-shadow: 0 3px #CA0B4A;
    height: 150px;
    width: 150px;
    margin: 10px;;
    font-family: 'Arvo', cursive;
    font-size: 5rem;
    color: #FFB02E;
    text-shadow: 3px 0 #CA0B4A;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}

.drum-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption{
    text-align: center;
}
  
.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}
  
.w{
    background-image: url("images/tom1.png");
}
  
.a{
    background-image: url("images/tom2.png");
}
  
.s{
    background-image: url("images/tom3.png");
}
  
.d{
    background-image: url("images/tom4.png");
}
  
.j{
    background-image: url("images/snare.png");
}
  
.k{
    background-image: url("images/crash.png");
}
  
.l{
    background-image: url("images/kick.png");
}

footer{ 
    text-align: center;
    color: #888;
}
